.container {
    width: 1000px;
    background-color: #f4f4fd;
    margin: 0px auto;
    padding: 40px;
    text-align: center;
}

.box1 {
    height: 240px;
    background-color: #55c1ff;
    margin-top: 70px;
}

.box2 {
    height: 240px;
    background-color: #d8a8b6;
    margin-top: 20px;
    justify-content: space-around
}

.box3 {
    height: 240px;
    background-color: white;
    margin-top: 20px;
}

img {
    height: 200px;
    padding-top: 20px;
    justify-content: space-between
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: #31414e;
    font-size: 200%;
    font-weight: bolder;
    justify-items: center;
    padding: 20px;
}

#imagen1 {
    margin-right: 150px;
}

#imagen3 {
    margin-left: 150px;
}

#imagen6 {
    margin-right: 150px;
}

#imagen8 {

    margin-left: 150px;
}

#imagen5 {

    margin-left: 150px;
}